@model IEnumerable<chamados.Models.Chamado>
    <center><h1>Lista de chamados</h1></center>
    </br></br>
    <a href="Chamados/Create" class="btn btn-success">Adicionar</a>
    <a href="Chamados/ListaOrder" class="btn btn-info">Mais Recentes</a>
    </br></br>

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Descricao</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Duracao</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model) {

            <tr>
                <td>@item.id</td>
                <td>@item.descricaoProblema</td>
                <td>@item.horaInicio</td>
                <td>@item.horaFim</td>
                <td>@item.duracao</td>
                <td><a class="btn btn-danger" href="Chamados/Delete/@item.id">Deletar</a></td>
                <td><a class="btn btn-warning" href="Chamados/Edit/@item.id">Editar</a></td>
            </tr>
            }
        </table>
    </div>