@model chamados.Models.Chamado

<div class="form-horizontal">
    <form action="Edit" method="Post">

        <br>

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" 
                    name="id"
                    value="@Model.id"
                    readonly/>
        </div>

        <div class="form-group">
            <label>Número Chamado</label>
            <input  class="form-control"
                    type="text" 
                    name="numChamado"
                    value="@Model.numChamado"/>
        </div>

        <div class="form-group">
            <label>Numero Solicitante</label>
            <input  class="form-control"
                    type="text"
                    name="numSolicitante"
                    value="@Model.numSolicitante"/>
        </div>

        <div class="form-group">
            <label>Descricao do Problema</label>
            <input  class="form-control"
                    type="text" 
                    name="descricaoProblema"
                    value="@Model.descricaoProblema"/>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input  class="form-control"
                    type="text" 
                    name="email"
                    value="@Model.email"/>
        </div>

        <div class="form-group">
            <label>Inicio</label>
            <input  class="form-control"
                    type="text" 
                    name="horaInicio"
                    value="@Model.horaInicio"/>
        </div>

        <div class="form-group">
            <label>Fim</label>
            <input  class="form-control"
                    type="text" 
                    name="horaFim"
                    value="@Model.horaFim"/>
        </div>

        <div class="form-group">
            <label>Telefone</label>
            <input  class="form-control"
                    type="text" 
                    name="telefone"
                    value="@Model.telefone"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Editar"/>

    </form>
</div>