@model IEnumerable<chamados.Models.Chamado>
    </br></br>

    <div>
        <h3>
            Sistema para Controlar os chamados de suporte.
        </h3>
    </div>
    <div style="margin: 50px">
        <div class="col-md-6">
        <a href="Chamados/Create" class="btn btn-success">Adicionar Chamado</a>
        </div>
        <div class="col-md-6"> 
        <a href="Chamados/ListaOrder" class="btn btn-primary">Mais Recentes</a>
        </div>
    </div>
    </br></br>

    <div class="container" style="margin-top: 50px">
        <table class="table">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Email</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Numero Chamado</th>
                    <th>Numero Solicitante</th>
                    <th>Telefone</th>
                    <th>Duracao</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model) {

            <tr>
                <td>@item.descricaoProblema</td>
                <td>@item.email</td>
                <td>@item.horaInicio</td>
                <td>@item.horaFim</td>
                <td>@item.numChamado</td>
                <td>@item.numSolicitante</td>
                <td>@item.telefone</td>
                <td>@item.duracao</td>
                <td><a class="btn btn-danger" href="Chamados/Delete/@item.id">Deletar</a></td>
                <td><a class="btn btn-primary" href="Chamados/Edit/@item.id">Editar</a></td>
            </tr>
            }
        </table>
    </div>