@model IEnumerable<chamados.Models.Chamado>
    </br></br>
    <a href="Create" class="btn btn-primary">Novo Chamado</a>
    <a href="Index" class="btn btn-primary">Retornar</a>
    </br></br>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Email</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Numero Chamado</th>
                    <th>Numero Solicitante</th>
                    <th>Telefone</th>
                    <th>Duracao</th>
                </tr>
            </thead>

            @foreach (var item in Model) {

            <tr>
                <td>@item.descricaoProblema</td>
                <td>@item.email</td>
                <td>@item.horaInicio</td>
                <td>@item.horaFim</td>
                <td>@item.numChamado</td>
                <td>@item.numSolicitante</td>
                <td>@item.telefone</td>
                <td>@item.duracao</td>
            </tr>
            }
        </table>
    </div>